.card {
    text-align: center;
    background-color: rgb(243, 243, 243);
    color: rgb(36, 36, 36);
    margin-top: 1.5rem;
    box-shadow: 1px 1px 20px #a5a5a5;
    margin-right: 0rem;
    display: block;
}

.card-img-top {
    object-fit: cover;
    height: 17rem;
}

.product-box {
    margin: 1rem;
}