<app-inner-navigation></app-inner-navigation>

<div class="container">
    <div class="profile-info">
        <div class="image-part">
            <img class="image-box" *ngIf="!user.photo; else profileImageBlock" src="../../../assets/images/profile photo.jpg"
              height="150" width="150">
            <ng-template #profileImageBlock>
              <img class="image-box" src="{{'data:image/jpeg;base64,' + user.photo}}" height="150" width="150">
            </ng-template>
          </div>

          <div class="content-part">
            <h3>{{user.firstName + " " + user.lastName}}</h3>
            <div>{{user.city.name + "(" + user.city.country.name + ")"}}</div>
            <div>{{user.email}}</div>
          </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-primary" (click)="openDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>
        Send Message
    </button>

    <button class="btn btn-success" (click)="sendOffer()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
        </svg>
        Send Offer
    </button>
</div>

<div class="container"> 
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center" *ngFor="let product of products">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" *ngIf="!product.photo; else elseBlock" src="../../../assets/images/no-photo.png">
                <ng-template #elseBlock>
                    <img class="card-img-top" src="{{'data:image/jpeg;base64,' + product.photo}}">
                </ng-template>
                <div (click)="showProduct(product.id)" class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.category.name}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" appSave [product]="product">Save</li>
                </ul>
            </div>
        </div>
    </div>  
</div>
