<app-outter-navigation></app-outter-navigation>

<div *ngIf="visible" class="container">
    <app-login></app-login>
    <div class="message-box">
        Don't have an account? <a class="link" (click)="switch()" style="color: #0011ff">Click here</a>
    </div>
</div>
<div *ngIf="!visible" class="container">
    <app-registration (onRegister)="switch()"></app-registration>
    <div class="message-box">
        Already have an account? <a class="link" (click)="switch()" style="color: #0011ff">Click here</a>
    </div>
</div>