<app-outter-navigation></app-outter-navigation>

<div class="backgorund-image">
    <div class="image-text">
        <div class="image-title-text">WELCOME
        </div>
        <div class="image-message-text">
            If you are loking for a cool stuff to excange
        </div>
        <div class="image-message-text">
            You are on the right place
        </div>
        <button class="btn btn-overlay">Join Us</button>
    </div>
</div>

<div class="container-light">
    <div class="text-box">
        <div class="text-center">
            <h2 style="color: #e90027;">THE STORY OF RED PAPERCLIP</h2>
            <div class="text-box">
                <p><i>
                    Do you know of those stories that sound like they are from some book or a fairy tale? Yes, some of those stories are actually true.
                    One man was sitting at a table in his room, watching a red paperclip when he wondered. What could I get by changing my red paperclip? That's what he did. Believe it or not, after a year of exchange, he got a house. Isn't that a wonderful story? If you have a product that stays in your house and you haven't used it for a long time, maybe this site is the right thing for you.
                </i></p>
                <p>
                    <i>
                        You don't need any money. All it takes is to agree with someone about an exchange. You get what you need, and he gets what he needs. You don't just have to change products, instead of offering someone a product, you can offer them a service.
                    </i>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="container-bg-dark">
    <iframe class="you-tube-iframe" src="https://www.youtube.com/embed/8s3bdVxuFBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="container-bg">
    <div class="content-boxes">
        <div class="content-box">
            <div class="content-image">
                <img src="../../../assets/images/product.svg">
            </div>
            <div class="content-title">Product for Product</div>
            <div class="content-text">
                Replace an item from your home that is not used for something you need.
            </div>
        </div>
        <div class="content-box">
            <div class="content-image">
                <img src="../../../assets/images/product-service.svg">
            </div>
            <div class="content-title">Service for Service</div>
            <div class="content-text">
                Do someone a favor, and he does the same for you. Isn't that a great deal?
            </div>
        </div>
        <div class="content-box">
            <div class="content-image">
                <img src="../../../assets/images/service.svg">
            </div>
            <div class="content-title">Product for Service</div>
            <div class="content-text">
                You can offer someone something you have so he can do some work for you.
            </div>
        </div>
    </div>
</div>