.chat {
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 10px #a5a5a5;
    color: rgb(36, 36, 36);
    border: solid 1px #818181;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem;
}

.chat:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.chat-image-box {
    display: inline-block;
    vertical-align: middle;
}

.chat-image {
    object-fit: cover;
    border: solid rgb(134, 134, 134) 0.15rem;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
}

.chat-data {
    display: inline-block;
    margin-left: 1.5rem;
    vertical-align: middle;
}

.chat-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(48, 48, 48);
}

.chat-text {
    font-style: italic;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(117, 117, 117);
}

.chat-notification {
    float: right;
    vertical-align: middle;
}

.chat-notification-circle {
    border-radius: 300px;
    background-color: rgb(31, 19, 99);
    padding: 0.5rem;
    color: #fff;
    vertical-align: middle;
}

.empty-list-message {
    margin: 1rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 10px #a5a5a5;
    color: rgb(36, 36, 36);
    border: solid 1px #818181;
    font-style: italic;
}

@media(max-width: 30rem) {
    .chat-text {
        width: 100px;
    }
}