<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img class="logo-image" src="../../../../assets/images/logo-white.png" width="42px" height="42px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/my-profile']" routerLinkActive="active" aria-current="page" class="nav-link active">My
              Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a [routerLink]="['/search/products']" class="dropdown-item" href="#">Search Products</a></li>
              <li><a [routerLink]="['/search/users']" class="dropdown-item" href="#">Search Users</a></li>
            </ul>
          </li>
          <li (click)="openNotificationsDialog()" class="nav-item-notification">
            <a aria-current="page" class="nav-link active">
              Notifications <div class="notification">{{(notificationCount)}}</div></a>
          </li>
          <!-- <li class="nav-item">
            <a [routerLink]="['/search/products']" routerLinkActive="active" aria-current="page" class="nav-link active">Search</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-light" type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </nav>