<app-inner-navigation></app-inner-navigation>
<div class="container">
    <div>First Name: {{user.firstName}}</div>
    <div>Last Name: {{user.lastName}}</div>
    <div>Email: {{user.email}}</div>
    <div>Country: {{user.country}}</div>
    <div>City: {{user.city}}</div>
    <div>Zip Code: {{user.zipcode}}</div>
</div>

<div class="container">
    <button class="btn btn-primary" (click)="openDialog()">Add product</button>
</div>

<div class="container">
   
    <div *ngFor="let product of myProducts">
        {{product.name}}
        {{product.description}}
        <img src="{{'data:image/jpeg;base64,' + product.photo}}">
    </div>

    <div>
        {{product.name}}
        {{product.photo}}
        <img src="{{'data:image/jpeg;base64,' + product.photo}}">
    </div>
    
</div>