.card {
    background-color: rgb(250, 250, 250);
    color: rgb(36, 36, 36);
    margin: 1rem;
    box-shadow: 5px 5px 20px #aaaaaa;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px #5a5a5a;
}

.container {
    /* margin: 0rem 10rem; */
    margin: auto;
}

.row {
    margin-top: 1rem;
}

.card-img-top {
    object-fit: cover;
    height: 17rem;
}

.list-group-item {
    background-color: rgb(42, 145, 204);
    color: #fff;
    text-align: center;
}

.list-group-item:hover {
    background-color: rgb(22, 113, 165);
}

.form-box {
    background-color: rgb(250, 250, 250);
    /* background-color: rgb(82, 82, 82); */
    /* color: #fff; */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #a7a7a7;
}

.buttons {
    text-align: center;
    margin-bottom: 2rem;
}

.arrowButton {
    display: inline-block;
    padding: 1rem;
    background-color: #353535;
    color: #fff;
    cursor: pointer;
}

.currPage {
    display: inline-block;
    padding: 1rem;
    color: #353535;
    background-color: #fff;
}